/* .footer {
} */
/* .footer__container {
} */
/* ._container {
} */

/* 1 */
.footer__body {
	border-top: 1px solid #d8d8d8;
	display: grid;
	grid-template-columns: 250px 1fr 290px; // ширина колонок (средняя колона занимает 1fr-фрагмент т.е всё оставшееся пространство)
	@include adaptiv-value("padding-top", 80, 30, 1);
	@include adaptiv-value("padding-bottom", 60, 30, 1);
	column-gap: 80px;
	//@include adaptiv-value("сolumn-gap", 80, 0, 1); // горизонтальные отступы между объектами
	// перестроим grid
	@media (max-width: $md1+px) {
		grid-template-rows: auto auto; // настроили высоты рядов
		grid-template-columns: 1fr 290px; // будет две колонки (колонка блока-меню(3 колонки) и колонка формы подписки)
	}
	@media (max-width: $md2+px) {
		display: block;
	}
}

/* 2 */
.footer__main {
	display: flex;
	flex-direction: column;
	align-items: flex-start; // разместили ссылки по левому краю
	// перестроим grid
	@media (max-width: $md1+px) {
		grid-column: span 2; // указали что бы блок с контактами занимал 2-е колонки, тогда отсальные колонки разместятся ниже
		@include adaptiv-value("margin-bottom", 40, 30, 1);
	}
}

/* 3 */
.footer__logo {
	margin: 0px 0px 16px 0px;
	color: rgb(70, 119, 5);
}

/* 4 */
.footer__text {
	color: $grayColor;
	line-height: 150%;
	&:not(:last-child) {
		margin: 0 0 1em 0; // отступ вниз соотвеетствует значению шрифта по умолчанию (16px) (наследуем его)
	}
}
/* .footer__contacts {
} */

/* 5 */
.contacts-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* 6 */
.contacts-footer__item {
	display: inline-flex; // Устанавливает элемент как строчно-блочный, а его потомки станут flex элементами.
	align-items: center;
	line-height: 150%;
	color: $grayColor;
	transition: color 0.5s ease 0s;
	&::before {
		margin: 0 8px 0 0;
	}
	&:not(:last-child) {
		@include adaptiv-value("margin-bottom", 16, 10, 1);
		//margin-bottom: 16px;
	}
	@media (any-hover: hover) {
		&:hover {
			// будет работать при наведении курсором (на устройствах, оборудованных мышью)
			color: #f58b28;
		}
	}
}
/* .icon-location {
} */
/* .icon-phone {
} */
/* 16 */
.footer__menu {
	@media (max-width: $md2+px) {
		@include adaptiv-value("margin-bottom", 40, 30, 1);
	}
}
/* 7 */
// общие стили для 3-х колонок среднего блока
.menu-footer {
	@media (min-width: $md3+px) {
		display: flex; // колонки станут в ряд
	}
}
/* 8 */
.menu-footer__column {
	@media (min-width: $md3+px) {
		flex: 0 1 33.333%; // колонки среднего блока займут третью часть по горизонтали
	}
	@media (max-width: $md4+px) {
		@include adaptiv-value("margin-bottom", 30, 15, 1);
	}
}
/* 9 */
// заголовки блока с меню
.menu-footer__title {
	cursor: default;
	@media (min-width: $md3+px) {
		margin: 0 0 16px 0;
	}
	/* 17 */
	//  добавим слайдеру стрелочки (обратимся к объекту(заголовкам) спойлера в тот момент, когда родителю добавляется технический класс ._init (спойлер активен)
	._init & {
		display: flex;
		width: 100%;
		flex-direction: row-reverse; // нам нужно, что бы стрелочка была после текста, а не ::before (как прописано в стилях для иконочного шрифта
		justify-content: space-between;
		align-items: center;
		@extend .icon-arrow-down;
		&::before {
			@extend %ic;
			font-size: 12px;
			transition: transform 0.5s ease 0s;
		}
	}
	&._active {
		&::before {
			transform: rotate(-180deg);
		}
	}
}

/* 10 */
// Пункты
.menu-footer__list {
	li {
		&:not(:last-child) {
			margin: 0 0 15px 0;
		}
	}
	@media (max-width: $md3+px) {
		padding: 15px 0 0 0;
	}
}
/* 11 */
// Ссылки
.menu-footer__link {
	color: $dackgrayColor;
	transition: color 0.5s ease 0s;
	line-height: 120%;
	font-weight: 500;
	&:hover {
		color: #f17908;
	}
}
/* .footer__subscribe {
	
} */
/* .subscribe {
	
} */

/* 12 */
// форма подписки

.subscribe__title {
	margin: 0 0 16px 0;
}
/* 13 */
.subscribe__form {
	display: flex;
	position: relative;
}
/* 15 */
// надпись в поле ввода формы подписки
.subscribe__input {
	width: 100%;
	padding: 0 12px;
	background: #d4d1ce;
	color: rgb(46, 45, 45);
}
/* 14 */
.subscribe__button {
	flex: 0 0 45px;
	height: 45px;
	// отцентруем иконку внутри кнопки
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	background-color: $orangeColor;
	color: rgb(3, 102, 33);
	transition: background-color 0.5s ease 0s;
	margin: 0 0 0 4px;
	@media (any-hover: hover) {
		&:hover {
			// будет работать при наведении курсором (на устройствах, оборудованных мышью)
			background-color: #f58b28;
		}
	}
}
/* .icon-send {
} */
