@import "mixins";

@import "fonts";

@import "icons";

// шрифт по умолчанию
$fontFamily: "Gilroy";
$fontSize: 16px;

// переменные
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270; // учли поля (что-бы контент не прилипал к краям экрана)
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$grayColor: #898989;
$dackgrayColor: #616161;

// обнуление Общие параметры
@import "null";

body {
	color: $mainColor;
	font-family: $fontFamily;
	font-size: $fontSize;
	&._lock {
		overflow: hidden;
	}
}

// оболочка
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// &._loaded {
	// }
}

// основная сетка
.container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px; // поля, что бы содержимое контейнера не прилипало к краям
	margin: 0 auto;

	// @media (max-width: $md1+px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	min-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

// *********************************** Применение класса "ibg" для картинок (адаптив изображения): ********************************

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

//************************************* стили клонированной картинки ***********************************************************

._flyImage._ibg {
	opacity: 1;
	position: fixed;
	z-index: 100;
	transition: all 1s ease 0s;
}

// общие стили для заголовков в footer  =========================================================================================

.footer-title {
	@include adaptiv-value("font-size", 24, 20, 1);
	line-height: 29 * /* 1/24 */ 0.04167 * 100%;
	font-weight: 700;
	color: #000000;
}

// Общие стили для заголовков в секции ТОВАРЫ ===================================================================================

.title {
	@include adaptiv-value("font-size", 40, 24, 1);
	font-weight: 700;
	line-height: 120%;
	text-align: center;
}

/* 10 */
// общие стили для кнопок ********************************************************************************************************

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	text-align: center;
	transition: all 0.5s ease 0s;
	min-height: 48px;
	&--white {
		color: $orangeColor;
		background-color: #fff;
		@media (any-hover: hover) {
			&:hover {
				// будет работать при наведении курсором (на устройствах, оборудованных мышью)
				background-color: $orangeColor;
				color: #fff;
			}
		}
	}
}

//========================================== Элементы управления слайдером Swiper: ================================================

/* 12 */
// ОБЩИЕ СТИЛИ ДЛЯ СТРЕЛОЧЕК (Swiper): --------------------------------------------------------------------------------------------
.slider-arrows {
	display: grid;
	grid-template-columns: repeat(2, 48px); // повторили стрелочку (кол-во, размер)
	column-gap: 8px; // расстояние между элементами (колонками)->стрелочками
}

/* 13 */
// рисуем стрелочку в кружке
.slider-arrow {
	border-radius: 50%; // нарисовали круг вокруг стрелочки
	height: 48px;
	background-color: rgba(232, 159, 113, 0.3);
	color: $orangeColor;
	font-size: 12px;
	cursor: pointer;
	transition: all 0.5s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			// будет работать при наведении курсором (на устройствах, оборудованных мышью)
			color: #fff;
			background-color: rgba(232, 159, 113, 1);
		}
	}
}
/* 14 */
// Предыдущая кнопка
.slider-arrow--prev {
	&::before {
		transform: rotate(90deg);
	}
}
/* 15 */
// Следующая кнопка
.slider-arrow--next {
	&::before {
		transform: rotate(-90deg);
	}
}
/* 16 */
//стили других стрелочек
/* стрелочка в белом кружке: */
.slider-arrow--white {
	box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
	background-color: #fff;
	@media (any-hover: hover) {
		&:hover {
			// будет работать при наведении курсором (на устройствах, оборудованных мышью)
			background-color: $orangeColor;
			color: #fff;
		}
	}
}

// ОБЩИЕ СТИЛИ ДЛЯ ТОЧЕК (Swiper): ------------------------------------------------------------------------------------------------

/* Классы, которые Swiper добавляет автоматически(приего инициализации: */
/* 17 */
/* для оболочки точек: */
.swiper-pagination-bullets {
	display: flex;
	flex-wrap: wrap;
}
/* 18 */
/* для точек: */
.swiper-pagination-bullet {
	cursor: pointer;
	flex: 0 0 27px; // ширина flex-элемента
	height: 27px;
	position: relative; // для абсолютного позиционирования ореола вокруг активной точки
	/* отцентруем маленькую точку внутри: */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px 0; // отступы безопасности
	background-color: transparent;
	/* отступы между точками (с учётом ореола): */
	&:not(:last-child) {
		margin-right: 12px;
	}
	/* дорисуем маленькую точку для неактивного буллета: */
	&::after {
		content: "";
		width: 11px;
		height: 11px;
		background-color: #08a03b;
		border-radius: 50%;
		transition: background-color 0.5s ease 0s;
	}
	/* рисуем ореол (оранжевую границу) вокруг активной точки: */
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 1px solid $orangeColor;
		transition: transform 0.5s ease 0s;
		/* скроем ореол для не активной точки: */
		transform: scale(0);
	}
}
/* 19 */
/* для активной точки: */
.swiper-pagination-bullet-active {
	&::after {
		background-color: $orangeColor;
	}
	&::before {
		/* покажем ореол для активной точки: */
		transform: scale(1);
	}
}

@import "header";
@import "footer";

//===============================================  секция ГЛАВНОГО СЛАЙДЕРА  ========================================================

/* 1 */
// общий класс - страница
.page {
	flex: 1 1 auto;
}

/* 2 */
// классы слайдера
.main-slider {
	background: #fcf8f3;
}
/* 3 */
// создадим псевдоэлемент, который будет вырисовывать тёмно-бежевый цвет контейнера
.main-slider__container {
	position: relative;
	@media (min-width: $md2+px) {
		&::before {
			content: "";
			background: #f9f1e7;
			position: absolute;
			top: 0;
			// сдвинем элемент
			width: 100vw;
			right: 376px; // по макету от правого края (относительно ограничивающего контейнера)
			height: 100%;
		}
	}
}

/* 4 */
// отступы:
.main-slider__body {
	padding: 140px 0 0 0; // замер производим от верхней границы макета, а не от шапки (т.к. она фиксированная и тело своё теряет)
	position: relative;
	z-index: 2; // чтобы контент не перекрывался
	@media (max-width: $md2+px) {
		padding: 80px 0 0 0;
	}
	@media (max-width: $md3+px) {
		padding: 50px 0 0 0;
	}
	@media (min-width: $md2+px) {
		display: flex; // Сделали flex-контейнер ( элементы станут в ряд )
	}
}

/* 5 */
.main-slider__content {
	/* 34 */
	align-self: flex-start; // если текста в контентной части мало(нет), то карточку уведёт вверх
	flex: 0 0 494 /* 1/1240 */ * 0.000806 * 100%; // ширина контентной части/ ширина ограничивающего контейнера*100%
	/* 32 */
	@include adaptiv-value("margin-bottom", 80, 15, 1);
	/* 36 */
	@media (max-width: $md2+px) {
		margin: 0 -15px; // убираем отступы в контентной части (на карточке)
	}
}

/* 7 */
.content-main {
	position: relative;
	z-index: 5; // контентный блок будет над слайдерами
	padding-left: 15px;
	padding-right: 15px;
	@include adaptiv-value("padding-top", 60, 15, 1);
	@include adaptiv-value("padding-bottom", 60, 15, 1);
	background: rgba(255, 255, 255, 0.72);
	@media (min-width: $md2 + px) {
		@include adaptiv-value("padding", 60, 1, 1);
		background: rgba(255, 255, 255, 0.9);
	}
}

/* 8 */
.content-main__title {
	@include adaptiv-value("font-size", 50, 24, 1);
	font-weight: 700;
	line-height: 120%;
	&:not(:last-child) {
		margin: 0 0 16px 0;
	}
}

/* 9 */
.content-main__text {
	font-weight: 500;
	@include adaptiv-value("font-size", 20, 16, 1);
	line-height: 150%;
	color: $grayColor;
	&:not(:last-child) {
		margin: 0 0 48px 0;
	}
}

/* 11 */
.content-main__button {
	font-weight: 600;
	@include adaptiv-value("min-height", 78, 45, 1);
	@include adaptiv-value("font-size", 20, 16, 1);
	background-color: $orangeColor;
	color: #fff;
	width: 100%;
	@media (any-hover: hover) {
		&:hover {
			// будет работать при наведении курсором (на устройствах, оборудованных мышью)
			background-color: #ffae7b;
		}
	}
}
/* 6 */
// для блока СЛАЙДЕР:
.main-slider__slider {
	flex: 1 1 auto; // разрешаем слайдеру увеличиваться на всё оставшееся пространство
	min-width: 0px; // обязательное свойство, если слайдер находится внутри flex-элемента или сам является flex-элементом
	/* 33 */
	align-self: flex-end; // задает выравнивание вдоль поперечной оси для отдельно взятого flex-блока (слайдер прижимаем к низу) Если контента в контентной части будет много (слайдер будет уезжать вниз
	/* 22 */
	@media (min-width: $md2+px) {
		padding: 0 0 0 32px;
	}
}

/* 29 */
.slider-main {
	display: flex; // теперь вложенные объекты (элементы управления слайдера и тело слайдера) тоже станут flex-элементами
	flex-direction: column;
	align-items: flex-end; // элементы управления тоже уйдут вправо
	/* 35 */
	@media (max-width: $md2+px) {
		align-items: stretch; // позволяем flex-элементам слайдера растягиваться
		flex-direction: column-reverse;
		//display: block;
	}
}

/* 21 */
.slider-main__controls {
	margin: 0 0 20px 0;
	/* 30 */
	align-self: stretch; // элементы управления венули на прежнее место (дали возможность расширяться)
	/* 38 */
	@media (max-width: $md2+px) {
		margin: 10px 0 20px 0;
	}
}
/* 20 */
/* оболочка всех элементов управления: */
.controls-slider-main {
	display: flex;
	/* 31-1 */
	//justify-content: space-between;
	align-items: center;
}
/* 31-2 */
.controls-slider-main__dotts {
	flex: 1 1 auto; // позволили увеличиваться объкту с точками, поэтому стрелочки управления останутся приюитыми к правому краю
	/* 41 */
	@media (min-width: $md2+px) {
		padding: 0 20px 0 0;
	}
	/* 39 */
	@media (max-width: $md2+px) {
		justify-content: center;
	}
}
.controls-slider-main__arrows {
	/* 40 */
	@media (max-width: $md3+px) {
		display: none;
	}
}

/* 28 */
.slider-main__body {
	overflow: visible; // тело слайдера не скрывает то содержимое, которое вылезло за границы блокa (слайды будут просматриваться сквозь прозрачный фон контента)
	@media (min-width: $md2+px) {
		@include adaptiv-value("width", 934, 290, 1);
	}
	/* 37 */
	@media (max-width: $md2+px) {
		margin: 0 -15px; // Растянем слайдер (для слайдера появится эффект отутствия границ)
	}
}

/* 24-2 */
.slider-main__slide {
	position: relative;
}

/* 23 */
/* оболочка картинки */
.slider-main__image {
	padding: 0 0 59.1% 0;
}

//*************************
.image {
	margin-top: 5px;
	&:not(:last-child) {
		padding: 0 0 59.1% 0;
	}
}
//*************************

/* 24-1 */
.slider-main__content {
	min-width: 295px; /* ограничим контейнер для контента: */
	max-height: 300px;
	overflow: auto;
	color: inherit;
	display: flex;
	flex-direction: column;
	@include adaptiv-value("padding", 24, 15, 1);
	background-color: rgba(255, 255, 255, 0.35);
	@media (min-width: $md3+px) {
		position: absolute;
		min-width: 350px;
		@include adaptiv-value("right", 40, 0, 1);
		@include adaptiv-value("bottom", 40, 0, 1);
	}
}

/* 25 */
.slider-main__title {
	@include adaptiv-value("font-size", 22, 18, 1);
	font-weight: 600;
	line-height: 120%;
	&:not(:last-child) {
		margin: 0px 0px 4px 0px;
	}
}
/* 26 */
.slider-main__text {
	line-height: 150%;
	color: $mainColor;
	&:not(:last-child) {
		margin: 0px 0px 8px 0px;
	}
}
/* 27 */
.slider-main__price {
	display: flex;
	flex-direction: row-reverse; // переставили стрелочку с положения впереди(::before), как указано в иконочном шрифте в положение после(::after) текста
	line-height: 150%;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
	@include adaptiv-value("font-size", 20, 16, 1);
	// поставим впереди отступ безопасности:
	&::before {
		margin: 0 0 0 10px;
		font-size: 12px; // указали размер стрелочки(иконочный шрифт), ::before-т.к. изначально стрелочка стояла впереди цены
	}
}

//************************************************ секция ПРИЕМУЩЕСТВА **************************************************************

/* .page__advantages {
}
 */
/* 1 */
.advantages {
	@include adaptiv-value("padding-top", 88, 30, 1);
	@include adaptiv-value("padding-bottom", 88, 30, 1);
}

/* 2 */
.advantages__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* .container {
} */

/* 3 */
// контентные элементы
// создаём grid-контейнер:
.advantages__item {
	display: inline-grid;
	padding: 15px 0;
	// настроим grid-сетку (формируем 2-а ряда / размер для 1-го - в рх(под иконку) и остальное место займёт 2-ряд(фрагмент):
	grid-template: auto auto / 85px 1fr;
	@media (max-width: $md2+px) {
		min-width: 280px;
	}
	// для мобилных устройств перестроим сетку:
	@media (max-width: $md3+px) {
		grid-template: auto auto / auto 1fr;
	}
}

/* 4 */
// иконки
.advantages__icon {
	text-align: center;
	align-self: center;
	// позволяем иконке занять 2-а ряда:
	grid-row: span 2; // рядом располагаются: 1-ряд(заголовок), 2-ой(текст)
	@media (max-width: $md3+px) {
		padding: 0 15px 0 0;
	}
}

/* 5 */
// заголовок
.advantages__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	margin: 0 0 2px 0;
}

/* 6 */
// текст
.advantages__text {
	line-height: 150%;
	color: $grayColor;
}

//***************************************************** секция ТОВАРЫ ***************************************************************

/* .page__products {
} */

/* 1 */
.products {
	@include adaptiv-value("padding-bottom", 44, 30, 1);
}
/* .products__container {
} */
/* .container {
} */

/* 2 */
.products__title {
	margin: 0 0 32px 0;
}

/* 3 */
// grid-контейнер для товаров
.products__items {
	display: grid;
	gap: 32px;
	// (распространим товары по всему контейнеру), (мин.(из шаблона) и макс. ширина карточек):
	grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}

/* 4 */
// карточка товара
.item-product {
	background: #f4f5f7;
	display: flex;
	flex-direction: column;
	position: relative;
	@media (any-hover: hover) {
		&:hover {
			// будет работать при наведении курсором (на устройствах, оборудованных мышью)
			.item-product__actions {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

/* 5 */
// блок с лейблами
.item-product__labels {
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;
	@include adaptiv-value("right", 24, 10, 1);
	@include adaptiv-value("top", 24, 10, 1);
}

/* 6 */
// лейбл
.item-product__label {
	flex: 0 0 48px;
	width: 48px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: 500;
	&:not(:last-child) {
		margin: 0 0 10px 0;
	}
}
/* 7 */
.item-product__label--sale {
	background: #e97171;
}
/* 8 */
.item-product__label--new {
	background: #2ec1ac;
}

/* 9 */
// картинка карточки
.item-product__image {
	// с классом ibg, что бы картинка выводилась, её размер нужно указывать следующим образом:
	padding: 0 0 105.6% 0; // (отступ)поле вниз высчитываются: (высота / ширину) * 100%
}

/* 10 */
// тело карточки
.item-product__body {
	flex: 1 1 auto; // позволим блоку увеличиваться при необходимости
	padding: 16px 16px 30px 16px;
	display: flex;
	flex-direction: column;
}
/* 11 */
// контент карточки
.item-product__content {
	flex: 1 1 auto;
}
/* 12 */
// заголовок карточки
.item-product__title {
	@include adaptiv-value("font-size", 24, 20, 1);
	font-weight: 600;
	line-height: 120%;
	margin: 0 0 8px 0;
}
/* 13 */
//текст карточки
.item-product__text {
	color: $grayColor;
	line-height: 150%;
	margin: 0 0 8px 0;
} /* 14 */
// цены карточки (общие свойства)
.item-product__prices {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	line-height: 150%;
}
/* 15 */
// цена
.item-product__price {
	@include adaptiv-value("font-size", 20, 16, 1);
	font-weight: 600;
}
/* 16 */
// старая цена
.item-product__price--old {
	@include adaptiv-value("font-size", 16, 14, 1);
	font-weight: normal;
	margin: 0 0 0 16px;
	color: #b0b0b0;
	text-decoration: line-through;
}

/* 17 */
// Оболочка накрывающего блока карточки
.item-product__actions {
	// для устройств с ссенсорным экраном
	@media (any-hover: none) {
		padding: 15px 0 0 0;
	}
	@media (any-hover: hover) {
		/* 21 */
		// скроем накрывающего блока карточки и будем показывать только при наведении в .item-product:
		opacity: 0;
		visibility: hidden;

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.5s ease 0s;
		background-color: rgba(58, 58, 58, 0.5);
		z-index: 3;
	}
}
/* .actions-product {
} */

/* 18 */
// тело накрывающего блока
.actions-product__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* 19 */
// кнопка накрывающего блока (кнопка добавления в корзину)
.actions-product__button {
	flex: 1 1 100%; // позволим кнопке увеличиваться на всю строку (она вытолкнет остальных на следующую строку)
	&:not(:last-child) {
		margin: 0 0 24px 0;
	}
	// при нажатии на кнопку Add to cart:
	&._hold {
		opacity: 0.5;
		cursor: default;
	}
}

/* 20 */
// ссылки накрывающего блока
.actions-product__link {
	display: flex;
	align-items: center;
	color: #f77b07;
	font-weight: 600;
	transition: color 0.5s ease 0s;
	// обратимся к иконке:
	&::before {
		margin: 0 10px 0 0;
		font-size: 16px;
	}
	@media (any-hover: hover) {
		color: #fff;
		&:hover {
			// будет работать при наведении курсором (на устройствах, оборудованных мышью)
			color: $orangeColor;
		}
	}
}

//********************************************** кнопка под карточками товаров(показать больше товаров) ****************************

/* 1 */
// оболочка для кнопки
.products__footer {
	padding: 32px 0 0 0;
	text-align: center;
}

/* 2 */
// кнопка
.products__more {
	border: 1px solid $orangeColor;
	min-width: 245px;
	&._hold {
		opacity: 0.5;
		cursor: default;
	}
}
